* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.header,
.innerB,
.innerC {
    background-color: #989c9d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header p,
.innerB p,
.innerC p {
    font-weight: 900;
    text-transform: uppercase;
}

.header {
    margin-bottom: 10px;
    height: 50px;
}

.inner {
    display: block;
    column-gap: 10px;
}

.innerB {
    height: 200px;
    margin-bottom: 10px;
}

.innerB,
.innerC {
    width: 100%;
}

.innerC {
    height: 50px;
}

@media (min-width: 660px) {
    .header {
        height: 200px;
    }

    .inner {
        display: flex;
    }

    .innerB {
        width: 70%;
        margin-bottom: 0;
    }

    .innerC {
        width: 30%;
    }

    .innerB,
    .innerC {
        height: 400px;
    }
}

@media (min-width: 760px) {
    .header {
        margin-bottom: 30px;
    }

    .inner {
        column-gap: 30px;
    }
}

