* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #000000;
}

.block {
    margin: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.block > button {
    padding: 8px 0;
    width: 150px;

    background-color: transparent;

    border: 4px solid;
    border-radius: 20px;

    cursor: pointer;
}

.block__btnYellow{
    background-color: #1e1e1e;
    color: #fd6e1d;
}

.block__btnBlue{
    background-color: #2cfdf0;
    color: #2cfdf0;
}

.block__btnPink{
    background-color: #fd56ab;
    color: #fd56ab;
}

.block__btnRed{
    background-color: #fd3e3e;
    color: #fd3e3e;
}



